[Unit]
Description=vlagent is a tiny agent which helps you collect logs from various sources and store them in VictoriaLogs
# https://docs.victoriametrics.com/victorialogs/
After=network.target

[Service]
Type=simple
User=victorialogs
Group=victorialogs
StartLimitBurst=5
StartLimitInterval=0
Restart=on-failure
RestartSec=5
EnvironmentFile=-/etc/victorialogs/vlagent/vlagent.conf
ExecStart=/usr/bin/vlagent-prod $ARGS
ExecStop=/bin/kill -s SIGTERM $MAINPID
ExecReload=/bin/kill -HUP $MAINPID
# See docs:
# https://docs.victoriametrics.com/victoriametrics/single-server-victoriametrics/#tuning
# https://docs.victoriametrics.com/victorialogs/quickstart/
ProtectSystem=full
LimitNOFILE=1048576
LimitNPROC=1048576
LimitCORE=infinity
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=vlagent
PrivateTmp=yes
ProtectHome=yes
NoNewPrivileges=yes
ProtectSystem=strict
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=yes

[Install]
WantedBy=multi-user.target
